extends partials/layout.pug

block content
  .welcome
    .welcome__text
      h2= body.magic
      img.shaq(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7i1o3_JTf6nLe4_g75LL9XpHsy_ayk1mN4H9yeulBYE8AKuS9')
      h1 Welcome to the Pizza Shaq!
    .welcome__image
      img(src='/images/pizza.jpg')
