body {
  background: khaki;
  padding-top: 50px;
}

.welcome {
  text-align: center;
}

.welcome__text {
  color: red;
}

.welcome__image img {
  max-height: 250px;
  max-width: 250px;
}

.contact-form__submit {
  text-align: right
}

.shaq {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 10px 30px 40px rgba(0,0,0, .5);
}
